
Flask
python-dotenv


langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-openai
google-genai

PyPDF2
pdfplumber


pydantic
requests


--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
